/* font-family: 'Roboto', sans-serif;
font-family: 'Quicksand', sans-serif;
 */

html {
  font-size: 62.5%;
}

:root {
  --Very-light-pink: #C7C7C7;
  --White: #FFFFFF;
  --Text-input-field: #F7F7F7;
  --Black: #000000;
  --Hospital-green: #ACD9B2;
  --Dark: #232830;
}

