html {
  font-size: 62.5%;
}

.container {
    
}

.container div {
    background-color: blue;
    color: yellow;
    width: 100vw;
    display: flex;
    justify-content: center;
}

@media (min-width: 500px) {
  .container div {
    background-color: red;
    color: aliceblue;
  }
}
